<h3>Welcome to the Signup page! Please enter information below:</h3>

<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Signup">
</form>